h1 {
    text-align: center;
    text-shadow: 5px 5px 10px darkred;
    color:black;
}

body{
    background-image: url('moon.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#keys {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
    column-gap: 5px;
    justify-content: center;
}
#keys > div {
    border: 1px solid white;
    background: linear-gradient(to right,black, darkred);
    padding: 15px;
}
.button:hover {
    background-color: black;
    color: white;
    box-shadow: 3px 3px 3px darkred;
}
.button{
border-radius: 5px;
position: absolute;
}
@media screen and (min-width: auto){ #keys {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
    column-gap: 5px;
    justify-content: center;
}}
#signature {
    position: absolute; 
    bottom: 0px; 
    right: 0px; 
    color: white; 
    text-shadow: 3px 1px 3px whitesmoke;
}